body{
	margin: 0;
	background-color: rgb(241, 236, 188);	
}
* {
	font-family:arial;
	box-sizing: border-box;
}
.header{
	position:sticky;
	top:0;
	background-color: #333333;
}
#logo{
	float:left;
	height:50px;
}
ul.nav{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow: hidden;
}
.nav li{
	float:right;
}
#user{
    margin-block-start: 0;
    margin-block-end: 0;
}
.nav li a, #user{
	display:inline-block;
	padding:16px;
	text-decoration:none;
	color:white; 
}
.nav li a:link{
	color:white;
}
.nav li a:visited{
	color:white;
}
.nav li a:hover{
	background-color: green;
	cursor: pointer;
}
.nav li a:active{
	color:yellow;
	background-color:black;
}
.logo{
	float:left;
}
.heading h1{
	text-align:center;
	padding:20px;
}
form{
    width:87%;
    margin: 0px auto;
}
fieldset{
	border-radius:4px;
	margin:0;
}
.component-collection{
	background-color: #f2f2f2f2;
	border-radius:4px;
	padding:20px;
	margin-top:10px;
}
.component {
	float : left;
	margin-left:50px;
}
.component label{
	font-weight:bold;
	font-size:15px;
}
.component input, select{
	margin-top:5px;
	width:200px;
	height:40px;
	padding:10px;
	border:1px solid lightgrey;
	border-radius:4px;
	box-sizing:border-box;
}
.component-section{
	clear:left;
	padding:15px;
}
.submit #submit{
	color:white;
    margin-top:10px;
	padding:10px;
	text-align:center;
	background-color:#3c8dbc;
	border-radius:5px;
    cursor : pointer;
    border: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}
.asterik {
	color: red;
	font-weight: bold;
}
/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */
.footer{
    position: relative;
    bottom: 0;
    margin-top: 30px;
    background-color:#3c3c3c;
    padding : 5px;
    color: #ffffff;
	text-align:center;
	font-size: small;
}